*{
    margin: 0;
    padding: 0;
}

body {
   width: 80vh;
   height: 60vh;
   overflow-x: hidden;
   overflow-y: hidden;
   background-color: rgb(124, 171, 219);
}

.world-container{
    width: max-content !important;
position: relative;
left: -76%;
}
.world-container svg{
    transform: scale(0.6);
}