*{
    margin: 0;
    padding: 0;
}

body {
   width: 80vh;
   height: 60vh;
   /* overflow-x: hidden;
   overflow-y: hidden; */
   background-color: rgb(124, 171, 219);
}

.world-container{
    width: max-content !important;
position: relative;
left: -76%;
}
.world-container svg{
    transform: scale(0.6);
}
#name{
    background-color: aliceblue;
    width:max-content ;
    position:absolute ;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 3px solid palevioletred;
 
}
#time{
    background-color: aliceblue;
    width:max-content ;
    position:absolute ;
   font-size: 1.3rem;
    border-radius: 5px;
    opacity: 0;
    border: 3px solid palevioletred; 
}
svg{
    filter: drop-shadow(2px 19px 3px rgb(4 1 3 / 0.3));
    fill:#064d17;
    stroke-width: 0.4px;
    stroke: #d4d002;
}
svg path{
    cursor: pointer;
}
svg path:hover{
    fill: rgb(102, 39, 5);
}